<div>
  <div class="modal-header">
    <h4 class="modal-title">Contenedor</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <div class="col-md-12 px-1">
      <div class="form-group">
        <label>Nombre:</label>
        <input [(ngModel)]="name" type="text" class="form-control" placeholder="name">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-round" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary btn-round" (click)="save()">Guardar</button>
  </div>
</div>
